# Archivo de configuración del servidor del proyecto operativos





#Puero por el que escucha
Port = 8000





#Ip desde donde se permite conexión
IP = 10.1.10.48



#usuarios a los que se les permite conectarse
#Si son varios, deben estar separados con ","
Users = felipe,camilo,mayckoll



#BD usuarios - archiovo donde esta registrado
DBUsers = users.pw